html, body {
    height:100%;
    width:100%;
    margin:0;
    display:flex;
	background-color: #222222;
	font-family: Arial, Helvetica, sans-serif, Verdana;
}

div.centerDiv
{
	margin:auto;
	text-align: center;
}

p.big 
{
    font-size: 64;
	color:#ccc;
	margin: 10;
}
p.small
{
    margin:auto;
    font-size: 14;
	color:#444;
}

p.label, a.label, td.tdRight
{
    margin:auto;
    font-size: 24;
	color:#ccc;
	text-decoration: none;
}

a.label
{
	background-color: #444;
	padding: 15px;
	border-radius: 5px;
}

td.tdRight 
{
	text-align: right;
}

p.normal
{
    margin:auto;
    font-size: 16;
	color:#888;
	padding: 10px;
}

a.gameLink
{
	text-decoration: none;
	color: #ccc;
}

table.centerTable
{
	color: #ccc;
}

td.centerTable, td.leftTable
{
	padding: 25px;
}

td.centerTable
{
	text-align: center;
}

td.leftTable
{
	text-align: left;
}