body, html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(29, 29, 29);
}

div#window {
    position: relative;
    margin: 0px;
    padding: 0px;
    left: calc(50% - 600px);
    top: calc(50% - 375px);
    width: 1200px;
    height: 750px;

    box-shadow: 0px 0px 25px rgb(20, 20, 20);
}

div#ui, #window, canvas {
    position: absolute;
    left:0px;
    right:0px;
    width: 1200px;
}

div#ui_content_left {
    padding: 10px;
    position: absolute;
    left: 25px;
    top: 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

div#ui_content_right {
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

p.label {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(196, 196, 196);
}

div#loading, div#pause {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 750px;
    background-color: rgb(64, 64, 64);
    z-index: 2;
}

div#pause {
    background-color: rgb(145, 145, 145, 0.0);
    backdrop-filter: blur(50px);
    visibility: hidden;
}

p.center_label {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

p.controls_label {
    position: absolute;
    left: 25px;
    top: 25px;
}

p.controls_content {
    position: absolute;
    left: 25px;
    top: 45px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    padding: 2px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

p.dark {
    color: rgb(80, 80, 80);
}
